doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Pages

    != css('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')

    style(type="text/css").
      .page-list .page:not(:last-child) {
        border-bottom: 1px solid #ccc
      }

  body
    #root
      .page-list.container

        section.page.section(v-for="page in pages")

          h1.title.is-1 {{ page.title }}

          h3.subtitle(v-if="page.subtitle") {{ page.subtitle }}

          section.page-content

            p {{ page.content }}

    script(src='https://cdn.jsdelivr.net/npm/vue')
    != script('https://unpkg.com/axios/dist/axios.min.js')

    script.

      var app = new Vue({
        el: '#root',
        data: {
          pages: []
        },
        methods: {
          async fetch() {
            try {
              const res = await axios.get(`/api/v1/pages`)
              if (res.data && res.data.length > 0) {
                return res.data
              }
            } catch(e) {
              console.error(e)
            }
            return []
          },
        },
        async created() {
          let pageData = await this.fetch()
          this.pages = pageData
        },
      })
