doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Pages

    != css('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')

    style(type="text/css").
      .page-container {
        margin: 2rem;
      }
  body
    #root
      .page-container

        h1.title.is-1 {{ title }}

        h3.subtitle(v-if="hasSubtitle") {{ subtitle }}

        section.page-content

          p {{ content }}

    script(src='https://cdn.jsdelivr.net/npm/vue')
    != script('https://unpkg.com/axios/dist/axios.min.js')

    script.

      var app = new Vue({
        el: '#root',
        data: {
          page: null
        },
        computed: {
          title() {
            return this.page && this.page.title ? this.page.title : ''
          },
          subtitle() {
            return this.page && this.page.subtitle ? this.page.subtitle : ''
          },
          hasSubtitle() {
            return this.subtitle !== ''
          },
          content() {
            return this.page && this.page.content ? this.page.content : ''
          },
        },
        methods: {
          async fetch() {
            try {
              const res = await axios.get(`/api/v1/pages`)
              if (res.data && res.data.length > 0) {
                return res.data[0]
              }
            } catch(e) {
              console.error(e)
            }
            return null
          },
        },
        async created() {
          let pageData = await this.fetch()
          this.page = pageData
        },
      })
